.btnWpar {
  background-color: #ff6000;
  width: max-content;
  text-transform: uppercase;
  color: #ffffff;
  overflow: hidden;
  border: none;
  cursor: pointer;
  padding: 12px 25px;
  border-radius: 5px;
  position: relative;
  font-size: 12px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;

  &:hover {
    background-color: #ffffff;
    color: #0e0d12;;
  }
}